body, html {
  width: 1000px;
  margin: 0 auto;
}

#content {
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
}

#headline {
  margin: 0 auto;
  width: 100%;
  margin-bottom: 20px;
}

#headline img {
  margin: 0 auto;
  width: 100%;
}

.rowfix {
  width: 100%;
  margin: 0 auto;
}

.colfix {
  padding: 0;
  width: 320px;
  margin-bottom: 20px;
}

.colfix:not(:first-child):not(:last-child) {
  margin-left: 10px;
  margin-right: 10px;
}
.colfix:first-child {
  margin-right: 10px;
}
.colfix:last-child {
  margin-left: 10px;
}

.square {
  height: 320px;
  background: #eee;
  padding: 10px;
}

.circle {
  height: 280px;
  width: 100%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 140px;
  background: #fc9833;
  margin: 0 auto;
}

.larger {
  font-size: 18px;
}

.box {
  width: 100%;
  height: 300px;
  text-align: center;
  background: #fff;
  overflow-y: scroll;
}

.padding {
  padding: 10px;
}

.contact {
  padding-left: 0;
  padding-right: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.person {
  float: left;
  margin-bottom: 10px;
}
.person:not(:last-child) {
  margin-right: 10px;
}

.person img {
  width: 130px;
}

.product img {
  width: 200px;
}
.product .title {
  font-size: 18px;
}
.product .description {
  font-weight: bold;
}
