body {
  width: 100%;
}

#content {
  width: 100%;
}

#headline {
  margin: 0 auto;
  width: 900px;
  margin-top: 32px;
}

#headline img {
  width: 100%;
}

#details {
  margin: 0 auto;
  width: 900px;
  text-align: center;
  padding-left: 32px;
  padding-right: 32px;
  font-size: 40px;
  margin-top: 32px;
}

#products {
  margin: 0 auto;
  width: 900px;
  text-align: center;
  font-size: 32px;
  margin-top: 32px;
}

#products .product {
  width: 300px;
  /*float: left;*/
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 16px;
}

#products a {
  text-decoration: none;
}

#products .product .title {
  margin-top: 16px;
  font-weight: bold;
}
#products .product .description {
}

#products .product img {
  width: 100px;
}

#posts {
  margin: 0 auto;
  width: 900px;
  padding-left: 32px;
  padding-right: 32px;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 32px;
}

#posts .post {
  clear: both;
  font-size: 14px;
}

.section-header {
  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 32px;
  text-align: center;
}

.section-header span {
  font-size: 32px;
  background: #f93;
  padding: 12px;
  border-radius: 12px;
}
