body, html {
  width: 1000px;
  margin: 0 auto;
}

#content {
  width: 100%;
  margin: 0 auto;
}

#headline {
  margin: 0 auto;
  width: 900px;
  margin-top: 32px;
}

#headline img {
  width: 100%;
}

#details {
  margin: 0 auto;
  width: 900px;
  text-align: center;
  padding-left: 32px;
  padding-right: 32px;
  font-size: 40px;
  margin-top: 32px;
}

#products {
  margin: 0 auto;
  width: 900px;
  text-align: center;
  font-size: 32px;
  margin-top: 32px;
}

#products .product {
  width: 300px;
  float: left;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 32px;
}

#products a {
  text-decoration: none;
}

#products .product .title {
  margin-top: 16px;
  font-weight: bold;
}
#products .product .description {
}

#products .product img {
  width: 100px;
}

#people {
  margin: 0 auto;
  width: 600px;
  text-align: center;
  font-size: 32px;
  margin-top: 32px;
}

#people .person {
  width: 300px;
  float: left;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 16px;
}

#people a {
  text-decoration: none;
}

#people .person .title {
  margin-top: 16px;
  font-weight: bold;
}

#people .person img {
  width: 100px;
}

#posts {
  margin: 0 auto;
  width: 1000px;
  padding-left: 32px;
  padding-right: 32px;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 32px;
}

#posts .post {
  clear: both;
  font-size: 14px;
}

.section-header {
  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 32px;
  padding: 0px;
  text-align: center;
  background: #f93;
  font-size: 32px;
  font-weight: bold;
  clear: both;
  width: 100%;
}

.section-header span {
}

.blog-title {
  font-size: 24px;
}

.blog-date {
  font-size: 24px;
}

#contacts {
  margin: 0 auto;
  width: 600px;
  text-align: center;
  font-size: 24px;
  margin-top: 32px;
}

#contacts .contact {
  width: 300px;
  float: left;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 16px;
}

#twitter {
  margin: 0 auto;
  width: 500px;
}
