---
layout: home
---

<div class="list-group">
  {% for post in paginator.posts limit:1 %}
  <a href="{{ post.url | prepend: site.baseurl }}" class="list-group-item active">
    <h4 class="list-group-item-heading">{{ post.title }}</h4>
    <p class="list-group-item-text">
      {{ post.date | date: '%B %d, %Y '}}
      {{ post.content | strip_html | truncatewords:10}}
    </p>
  </a>
  {% endfor %}
  {% for post in paginator.posts limit:10 offset:1 %}
  <a href="{{ post.url | prepend: site.baseurl }}" class="list-group-item">
    <h4 class="list-group-item-heading">{{ post.title }}</h4>
    <p class="list-group-item-text">
      {{ post.date | date: '%B %d, %Y '}}
      {{ post.content | strip_html | truncatewords:10}}
    </p>
  </a>
  {% endfor %}
</div>
