body {
  width: 100%;
}

#content {
  width: 100%;
  margin-top: 1em;
}

#headline {
  margin: 0 auto;
  width: 900px;
}

#headline img {
  width: 100%;
}

#details {
  margin: 0 auto;
  width: 900px;
  text-align: center;
  padding: 1em;
  font-size: 2.5em;
}

#products {
  margin: 0 auto;
  width: 900px;
  text-align: center;
  font-size: 2em;
}

#products .product {
  width: 300px;
  float: left;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 1em;
}

#products .product .title {
  margin-top: 1em;
  font-weight: bold;
}
#products .product .description {
}

#products .product img {
  width: 100px;
}
