<footer>
    {% include paginate.html %}
    {% include suggestion.html %}
    <hr />
    <div class="user-footer">
        <div class="copyright alignable pull-left">
            {% if site.copyright %}
                <h2> &copy;{{ site.copyright }}</h2>
            {% else %}
                <h2> &copy;{{ site.title }}</h2>
            {% endif %}
        </div>
        <div class="alignable pull-right">
            <a target="_blank" href="https://twitter.com/{{ site.twitter_username }}" class="button">
                @{{ site.twitter_username }}
            </a>
            <a target="_blank" href="{{ site.baseurl }}/feed.xml" class="button">
                rss
            </a>
        </div>
    </div>
</footer>
