<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="favicon.ico">
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="/css/home.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <title>Etherboost</title>
  </head>

  <body>

    <div id="content">
      <div id="headline">
        <img src="/images/headline.svg" />
      </div>
      <div class="section-header"><span>Mission statement</span></div>
      <div id="details">
        <p>Etherboost is a producer of decentralized autonomous organizations governed by smart contracts on the Ethereum blockchain.</p>
      </div>
      <div class="section-header"><span>Products</span></div>
      <div id="products">
        <a href="http://Etherboost.github.io/etheropt">
          <div class="product">
            <img src="/images/etheropt_logo.svg" />
            <div class="title">
              Etheropt
            </div>
            <div class="description">
              decentralized <br />options exchange
            </div>
            <div class="label label-default">
              Status: Testnet
            </div>
          </div>
        </a>
        <!--
        <a href="#">
          <div class="product">
            <img src="/images/ethvertise_logo.svg" />
            <div class="title">
              Ethvertise
            </div>
            <div class="description">
              decentralized <br />ad market
            </div>
            <div class="label label-default">
              Coming soon
            </div>
          </div>
        </a>
        <a href="#">
          <div class="product">
            <img src="/images/pokereth_logo.svg" />
            <div class="title">
              Pokereth
            </div>
            <div class="description">
              decentralized <br />poker game
            </div>
            <div class="label label-default">
              Coming soon
            </div>
          </div>
        </a>
        -->
      </div>
      <div class="section-header"><span>From the blog</span></div>
      <div id="posts">
        {{ content }}
      </div>
    </div>
    {% if site.tracking_id %}
        {% include analytics.html %}
    {% endif %}
  </body>
</html>
